<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    @if (ViewBag.Title != null)
    {
        <title>@Config.CompanyName | @ViewBag.Title</title>
    }
    else
    {
        <title>@Config.CompanyName</title>
    }

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700" rel="stylesheet" type="text/css">

    <!-- Css -->
    <environment include="Development">
        <link rel="stylesheet" href="~/css/nivo-slider.css" type="text/css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/owl.carousel.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/owl.theme.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/bundles/site.min.css" asp-append-version="true">
    </environment>
</head>
<body>
    <!-- HEADER-->
    <partial name="_Header"/>

    <!-- Navigation-->
    <partial name="_Navigation"/>

    <div class="container">
        @RenderBody()
    </div>

    <!-- FOOTER-->
    <partial name="_Footer"/>

    <!-- JS -->
    <environment include="Development">
        <script src="~/js/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/jquery.nivo.slider.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/jquery.nicescroll.js" asp-append-version="true"></script>
        <script src="~/js/jquery.scrollUp.min.js" asp-append-version="true"></script>
        <script src="~/js/main.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/bundles/site.min.js" asp-append-version="true">
    </environment>
</body>
</html>